---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

export interface Props {
  project: CollectionEntry<"project">;
}

const { title, description, url, image, tags } = Astro.props.project.data;
---

<div
  class="card group bg-base-100 hover:bg-base-200 shadow-xl transition-colors"
>
  <figure>
    <Image
      src={image}
      alt={title}
      class="aspect-video object-cover transition-transform group-hover:scale-105"
    />
  </figure>
  <div
    class="h-1 bg-base-content w-0 group-hover:w-full transition-all duration-500 m-auto"
  >
  </div>
  <div class="card-body">
    <div class="flex justify-between">
      <div>
        <a
          href={`/project/${Astro.props.project.slug}`}
          class="card-title hover:underline">{title}</a
        >
        <p>{description}</p>
      </div>
      {
        url && (
          <a href={url} class="btn btn-primary mb-4">
            Visit
          </a>
        )
      }
    </div>
    <div class="card-actions justify-end">
      {
        tags?.map((tag) => (
          <div class="badge badge-outline hover:badge-ghost">{tag}</div>
        ))
      }
    </div>
  </div>
</div>
