---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

export interface Props {
  project: CollectionEntry<"project">;
}

const { title, description, image, tags } = Astro.props.project.data;
---

<div
  class="card group bg-base-100 hover:bg-base-200 shadow-xl cursor-pointer transition-colors"
>
  <figure>
    <Image
      src={image}
      alt={title}
      class="transition-transform group-hover:scale-105"
    />
  </figure>
  <div
    class="h-1 bg-base-content w-0 group-hover:w-full transition-all duration-500 m-auto"
  >
  </div>
  <div class="card-body">
    <h2 class="card-title hover:underline">{title}</h2>
    <p>{description}</p>
    <div class="card-actions justify-end">
      {
        tags?.map((tag) => (
          <div class="badge badge-outline hover:badge-ghost">{tag}</div>
        ))
      }
    </div>
  </div>
</div>
